<div class="user-info" >
  <h1>Hello, {{ user.firstName }} {{ user.lastName }}</h1>
  <div class="edit-form-container" *ngIf="isEditing">
    <form class="edit-item-form" [formGroup]="editItemForm" (ngSubmit)="onSubmitEdit(user.email)">
      <mat-form-field>
        <mat-label>description: </mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>
      <button mat-raised-button type="submit">Save</button>
      <button mat-raised-button (click)="toggleEdit()" >Cancel</button>
    </form>
  </div>
  <form class="add-item-form" *ngIf="!isEditing" [formGroup]="addItemForm" (ngSubmit)="onSubmit(user.email)">
    <mat-form-field>
      <mat-label>description: </mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>
    <button mat-raised-button type="submit">Add</button>
  </form>

  <table class="table">
    <thead class="thead-dark">
      <tr  scope="col">
        <th *ngFor="let columnTitle of displayedColumns" [ngClass]="{'last-Col-Title': columnTitle === 'Actions' , 'first-col-title': columnTitle === 'Task'}">{{columnTitle}}</th>
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="{'selected-row': user.list.indexOf(listItem) === editItemIndex}" *ngFor="let listItem of user.list; let i = index">
        <th class="first-col-title" scope="row">{{i+1}}</th>
        <td>{{listItem.description}}</td>
        <td class="action-buttons">
          <button mat-raised-button class="green-button" [disabled]="isEditing" (click)="editItem(i,listItem)">Edit</button>
          <button mat-raised-button class="red-button" [disabled]="isEditing" (click)="removeItem(user.email ,listItem)" >Remove</button>
        </td>
    </tbody>
  </table>
</div>
