

.page{
    width: 100%;
    height: 100%;
    display: flex;
}
.navbar-main{
    width: 9%;
    height: 100%;
border-inline-end-style:groove;
border-color: rgba(121, 118, 118, 0.504);
border-width: 1.5px;
}
