<div class="navbar-logged">
  <div class="logged-nav-options">
  <div [routerLink]="'/list'" class="icon-text-container">
    <mat-icon
      class="home-icon-custom"
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="home"
      >home</mat-icon
    >
    <span>Your list</span>
  </div>
  <div [routerLink]="'/personal-info'" class="icon-text-container">
    <mat-icon
      class="home-icon-custom"
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="home"
      >person </mat-icon
    >
    <span>Personal info</span>
  </div>
  <div [routerLink]="'/admin/2'" class="icon-text-container">
    <mat-icon
      class="home-icon-custom"
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="home"
      >home</mat-icon
    >
    <span>Admin test</span>
  </div>
</div>
  <div (click)="logout()" class="icon-text-container">
    <mat-icon>keyboard_backspace</mat-icon>
    <span>Logout</span>
  </div>
</div>
