<app-not-logged color="blue">
  <div class="login-page">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Email: </mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>password: </mat-label>
        <input type="password" matInput formControlName="password" />
      </mat-form-field>
      <span *ngIf="errorMessage">{{ errorMessage }}</span>
      <button mat-raised-button type="submit">Login</button>
    </form>
    <a routerLink="../register">register</a>
  </div>
</app-not-logged>
