.admin-panel-page{
  width: 100%;
  background-color: #D9D9D9;
  display: flex;
  padding-top: 10%;
  justify-content: center;
  flex-direction: column;

  app-user-list{
    width: 100%;
    height: 100%;
  }
}

h2{
  display: flex;
  justify-content: center;
  padding-bottom: 4px;
  font-weight: bold;
}
